<% @stories.each do |story| %>
  <div>
    <h3>
      <%= link_to mark_read_story_path(story),
                  :class => 'js-new-story-indicator', :id => "new-story-#{story.id }", :remote => true,
                  :method => 'post' do %>
        <span class="read-story glyphicon glyphicon-ok-circle <%= 'storyNotRead' unless story.user_open.opened? %>"></span>
      <% end %>
      <%= link_to mark_read_later_story_path(story),
                  :class => 'js-read-later-story-indicator', :id => "read-later-story-#{story.id }", :remote => true,
                  :method => 'post' do %>
        <span class="read-later glyphicon glyphicon-bookmark <%= 'storyNotReadLater' unless story.user_open.read_later? %>"></span>
      <% end %>
      <%= story.feed.name %> :
      <%= link_to story.title, open_story_path(story), :target => 'rfeeder_target', :class => "js-open-story", "data-new-story-id" => story.id %>

    </h3>

    <div>
      <%= story.lead.html_safe %>
    </div>
    <div>
      <%= story.seen_text %> |
      <%= story.published %> |
      <%= story.entry_id %> |
      <%= story.created_at.iso8601 %>
    </div>
  </div>
<% end %>

<%= link_to_next_page @stories, 'Next Page', :params => {:partial => true, :q => @q.to_hash}, :class => 'js-jscroll-next' %>
