<% @stories.each do |story| %>
  <div>
    <h3> <%= story.feed.name %>
      : <%= link_to story.title, open_story_path(story), :target => 'rfeeder_target', :class => "js-open-story", "data-new-story-id" => story.id %>
      <% unless story.user_open.seen? %>
        <span id="new-story-<%= story.id %>" class="glyphicon glyphicon-certificate"></span>
      <% end %>
    </h3>

    <div>
      <%= story.lead.html_safe %>
    </div>
    <div>
      <%= story.seen_text %> |
      <%= story.published %> |
      <%= story.entry_id %>
    </div>
  </div>
<% end %>
<%= content_for(:javascript) do %>
  Rfeeder.wire_open_story();
<% end %>
